{#
/**
 * @file
 * Default theme implementation for the syndicator render element.
 *
 * Available variables:
 * - attributes: Attributes for the tag.
 * - content: The text to display within the tag.
 *
 * @ingroup themeable
 * @ingroup syndicator
 */
#}
<h1>This is the Better Body Processor</h1>
<div>{{ content }}</div>
